.content {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    margin-top: 25px;
    height: 530px;
}
textarea {
    resize: none;
}
@media (min-width: 1200px) {
    .content {
        max-width: 1440px;
    }
}
@media (max-width: 450px) {
    .content {
        flex-direction: column-reverse;
        margin: 0 7px;
    }
}
/*----------- Левая часть -----------------*/
#main-img {
    border:solid;
    border-width: 1px;
    height: 100%;
    width: 100%;
    margin: 7px 0 0 0;
    padding: 180px 0 100px 230px;
    box-sizing: border-box;
}
.miniature-item {
    max-width: 100px;
    display: inline-block;
}
#header-strip {
    width: 100%;
    height: 7px;
    background-color: #292929;
}
#photo-and-title {
    width: 720px;
    align-content: space-between;
    padding: 0 0;
    box-sizing: padding-box;
}
#photo-and-title h1 {
    margin: 0 0;
    width: 525px;
    height: 37px;
    left: 198px;
    top: 199px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    color: #252525;
}
#title-closedate {

    justify-content: space-between;
    align-items: flex-end;
}
#title p {
    margin: 0 0;
    display: unset;
}
/*-------------- /Левая часть ------------------*/
/*-------------- Правая часть -----------------*/
#lot-description {
    width: 720px;
    align-content: space-between;
    padding-left: 30px;
    box-sizing: border-box;
}
#bets {
    display: flex;
    margin-top: 39px;
}
.bet {
    width: 400px;
    margin-right: 18px;
}
.bet > p {
    margin: 0 0 5px 0;
    text-align: center;
}
#current-bet {
    background-color: #F58E2E;
    width: 100%;
}
#current-bet p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: white;
}
#min-step {
    background-color: #CECECE;
    width: 100%;
}
#min-step p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: white;
}
#place-a-bet {
    height: 45px;
    border: 2px solid #292929;
    box-sizing: border-box;
    border-radius: 3px;
}
#place-a-bet input {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
}
#current-bet,
#min-step,
#place-a-bet {
    height: 45px;
    box-sizing: border-box;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bet img {
    display: inline;
    width: 21px;
    height: 21px;
}
#submit {
    display: flex;
    flex-direction: column;
    width: 220px;
}
#submit p {
    height: 19px;
}
#submit input {
    background-color: #F58E2E;
    border-radius: 5px;
    height: 41px;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
#Description {
    margin-top: 5px;
    width: 100%;
    height: 375px;
    box-sizing: content-box;
}
#price-and-closedate {
    display: flex;
    margin-bottom: 15px;
}
#price-and-closedate p{
    display: inline-block;
    margin-top: 28px;
}
#price {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-right: 20px;
}
#price input {
    height: 35px;
}
#FinalDate {
    height: 35px;
}
select {
    width: 200px;
    height: 35px;
    margin-bottom: 15px;
}
#closedate {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-right: 20px;
}
.relative-flex {
    position: relative;
    display: flex;
    align-items: flex-end;
}
form {
    width: 100%;
    display: flex;
}
::-webkit-input-placeholder {
    font-size: 16px;
}
#title {
    width: 100%;
}
