<link rel="stylesheet" href="~/css/home.css" />
<div class="content">
    <div id="offer">
        <h1>Молоточек - это современная и<br />удобная площадка<br />для продажи Вашего барахла<br />быстро и дорого!</h1>
        <h2>Молоточек крутится,<br />Лавеха мутится!</h2>
        <a href="/Auth"> <button>Авторизация</button></a>
    </div>
    <div id="hammer">
        <img src="../media/hammer.png" alt="молоток" />
    </div>

</div>