@model IEnumerable<Auction.DAL.MSSQL.Entity.AccountBalanceHistory>

<table>
    <tr>
        <th>Дата</th>
        <th>Сумма</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.Date</td>
            <td>@item.Amount</td>
        </tr>

    }

</table>
