<h1>Пополнить счёт</h1>
@using (Html.BeginForm("AddBalance", "Balance", FormMethod.Post))
{
    <h1>Sum</h1>
    <textarea name="Amount" id="Amount"></textarea>
    <button type="submit">Пополнить</button>
}
